body
    background-color blues
    @media web
        background-color #fff
.container
    padding-bottom 50px
.content
    padding 0 10px
    @media web
        center(1000px)
        background-color #FFF

.contentMain
    background-color #fff
    @media web
        col(7/10)
.sidebar
    @media web
        col(3/10)
        sf()
.contentWide
    col(1/1)