.topOnSite
    display block
    padding-bottom 30px
    background-color #FFF
    sf()
    @media web
        padding-top 0
        margin-top 0
.topOnSiteHeader
    display block
    padding 0 10px
    sf()
    h2
        color reds
        ff(normal,1.8,2.6)
    @media web
        padding 0
        margin-bottom 10px
        h2
             f(medium,2.2,2.6)
.topOnSiteItem
    display block
    padding 0px 10px
    border-bottom 1px solid #cdd7dc
    sf()
    @media web
        padding 0px 0px
        border-bottom 1px solid #cdd7dc
        height 100%
        sf()
        &:first-child
            border-top 1px solid #cdd7dc
.topOnSiteItemLeft
    span(1/1)
    padding 10px 0px
    @media web
        span(4/9)
.topOnSiteItemWrap
    padding-top 10px
.topOnSiteItemIcon
    display table-cell
    vertical-align middle
    padding-right 15px
    img
        width 40px
    svg
        size(30,39)
        fill #cdd7dc
    @media web
        display table-cell
        vertical-align middle
        padding-right 20px
.topOnSiteItemText
    display table-cell
    width 100%
.topOnSiteItemName
    display block
    padding-bottom 5px
    ff(normal,1.8, 2.2)
    color reds
    sf()
    a
        text-decoration none
        color reds
        transition color .5s
        &:hover
            color darken(reds,30%)
    @media web
        ff(normal,2,2.4)
.topOnSiteItemSubforum
    display block
    vertical-align middle
    padding-bottom 5px
    a
        color blues
        vertical-align middle
        ff(normal,1.3,1.6)
        text-decoration none
        color links
        margin-right 7px
        transition color .5s
        &:hover
            color lighten(linksHover,30%)
.topOnSiteItemSubforumDot
    display inline-block
    background-color reds
    border-radius 50%
    size(5)
    margin-right 7px
.topOnSiteItemMiddle
    display none
    @media web
        display block
        span(2/9)
        height 91px
        background-color #f7f7f7
        padding 25px 0px 30px 20px
.topOnSiteItemMobileCount
    display block
    @media web
        display none
.topOnSiteItemSubject
    display inline-block
    ff(normal,1.2,1.4)
    color violets
    margin-bottom 10px
    margin-right 5px
    &:after
        display inline-block
        ff(normal,1.2,1.4)
        content '|'
        padding-left 5px
    @media web
        display block
        &:after
            display none
.topOnSiteItemMessage
    display inline-block
    color violets
    ff(normal,1.2,1.4)
    @media web
        display block
.topOnSiteItemRight
    display none
    @media web
        display block
        span(3/9)
        height 91px
        padding 15px 0px 30px 20px
.topOnSiteItemLastSubject
    display inline-block
    ff(normal,1.2,1.4)
    color violets
    margin-bottom 10px
    margin-right 5px
    &:after
        display inline-block
        ff(normal,1.2,1.4)
        content '|'
        padding-left 5px
    a
        color blues
        vertical-align middle
        ff(normal,1.3,1.6)
        text-decoration none
        color links
        margin-right 7px
        transition color .5s
        &:hover
            color lighten(linksHover,30%)
    @media web
        display block
        &:after
            display none
.topOnSiteItemLastTime
    display inline-block
    color violets
    ff(normal,1.2,1.4)
    b
        color reds
    @media web
        display block