.buttonYellow
    display inline-block
    ff(medium,2.6,2.6)
    border 0px
    outline 0px
    color white
    background-color #FFA300
    padding 10px 20px
    border-radius 24px
.buttonYellowBig
    @extend .buttonYellow
    padding 12px 30px
    border-radius 30px
    ff(light_f,3.6,3.6)
.buttonYellowTwoString
    @extend .buttonYellow
    border-radius 36px
    padding 10px 35px
.buttonYellowOutline
    @extend .buttonYellow
    background-color transparent
    color #FFA300
    border 4px solid #FFA300