.breadcrumbs
    padding 0 10px
    @media web
        padding 0
        center(1000px)
.breadcrumbsWrap
    padding 15px
    background-color #FFF
    @media web
        padding 15px 0px
.breadcrumbItem
    display inline-block
    vertical-align middle
    ff(normal,1.3,1.6)
    color #5e6577
    cursor default
    a
        color blues
        text-decoration none
        color #0e73c0
        margin-right 5px
        transition color .5s
        &:hover
            color lighten(#0e73c0,30%)
    svg
        display inline-block
        margin-right 5px
        size(6,8)
        fill #C8CBD0

    &:last-child
        svg
            display none