.mobileMainAds
    display block
    width 100%
    padding 0 10px
    padding-bottom 20px
    background-color #fff
    sf()
    img
        width 100%
    @media web
        display none

.contentAds
    display none
    @media web
        display block
        img
            width 100%
