.hidden {
  display: none !important;
}
/* normalize.css v2.1.0 | MIT License | git.io/normalize */
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: none;
}
html {
  font-size: 62.5% !important;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: Arial, sans-serif; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -ms-text-size-adjust: 100%; /* 2 */
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
hr {
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
}
legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}
button,
input,
select,
textarea {
  font-family: inherit; /* 1 */
  margin: 0; /* 3 */
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  padding: 0; /* 2 */
}
input[type="search"] {
  -webkit-appearance: textfield; /* 1 */ /* 2 */
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto; /* 1 */
  vertical-align: top; /* 2 */
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a:focus {
  outline: 0;
}
body {
  background-color: #273645;
}
@media only screen and (min-width: 480px) {
  body {
    background-color: #fff;
  }
}
.container {
  padding-bottom: 50px;
}
.content {
  padding: 0 10px;
}
@media only screen and (min-width: 480px) {
  .content {
    *zoom: 1;
    width: auto;
    max-width: 1000px;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
    background-color: #fff;
  }
  .content:before,
  .content:after {
    content: '';
    display: table;
  }
  .content:after {
    clear: both;
  }
}
.contentMain {
  background-color: #fff;
}
@media only screen and (min-width: 480px) {
  .contentMain {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 69.1%;
    margin-left: 0%;
    margin-right: 3%;
  }
  .contentMain:before,
  .contentMain:after {
    content: '';
    display: table;
  }
  .contentMain:after {
    clear: both;
  }
  .contentMain:last-child {
    margin-right: 0%;
  }
}
@media only screen and (min-width: 480px) {
  .sidebar {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 27.9%;
    margin-left: 0%;
    margin-right: 3%;
  }
  .sidebar:before,
  .sidebar:after {
    content: '';
    display: table;
  }
  .sidebar:after {
    clear: both;
  }
  .sidebar:last-child {
    margin-right: 0%;
  }
  .sidebar:after {
    visibility: hidden;
    display: block;
    content: '';
    clear: both;
    height: 0;
  }
}
.contentWide {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
}
.contentWide:before,
.contentWide:after {
  content: '';
  display: table;
}
.contentWide:after {
  clear: both;
}
.contentWide:last-child {
  margin-right: 0%;
}
.buttonYellow,
.buttonYellowBig,
.buttonYellowTwoString,
.buttonYellowOutline {
  display: inline-block;
  font-family: 'Roboto-Medium', sans-serif;
  font-size: 2.6rem;
  line-height: 2.6rem;
  font-weight: 600;
  font-style: normal;
  border: 0px;
  outline: 0px;
  color: #fff;
  background-color: #ffa300;
  padding: 10px 20px;
  border-radius: 24px;
}
.buttonYellowBig {
  padding: 12px 30px;
  border-radius: 30px;
  font-family: 'Roboto-Light', sans-serif;
  font-size: 3.6rem;
  line-height: 3.6rem;
  font-weight: 200;
  font-style: normal;
}
.buttonYellowTwoString {
  border-radius: 36px;
  padding: 10px 35px;
}
.buttonYellowOutline {
  background-color: transparent;
  color: #ffa300;
  border: 4px solid #ffa300;
}
.icon-premium {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  width: 21px;
  height: 21px;
  background-image: url("../icon/premium.svg");
  background-repeat: no-repeat;
  background-position: center center;
}
.input {
  outline: 0;
  border: 1px solid #cdd7dc;
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 1.2rem;
  line-height: 1.4rem;
  font-weight: 400;
  font-style: normal;
  padding: 5px 40px 5px 10px;
  border-radius: 3px;
}
.label {
  display: inline-block;
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 1.2rem;
  line-height: 1.4rem;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 5px;
  color: #5a687e;
}
@media only screen and (min-width: 480px) {
  .label {
    font-family: 'Roboto-Medium', sans-serif;
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-weight: 600;
    font-style: normal;
  }
}
.fastchoise {
  display: block;
  position: relative;
  background-color: #fff;
  border: 1px solid #d1dadf;
  border-radius: 4px;
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-weight: 400;
  font-style: normal;
  color: #5a687e;
  padding: 9px;
}
.fastchoise:after {
  visibility: hidden;
  display: block;
  content: '';
  clear: both;
  height: 0;
}
@media only screen and (min-width: 480px) {
  .fastchoise {
    font-family: 'Roboto-Medium', sans-serif;
    font-size: 1.4rem;
    line-height: 1.4rem;
    font-weight: 600;
    font-style: normal;
  }
}
.fastchoiseButton {
  display: block;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 100%;
  text-align: center;
  border-radius: 0px 4px 4px 0px;
  background-color: #4d95cf;
}
.fastchoiseButton svg {
  margin-top: 7px;
  width: 18px;
  height: 18px;
  fill: #fff;
}
.slick-slider {
  position: relative;
  display: block;
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-loading .slick-list {
  background: #fff image-url("ajax-loader.gif", false, false) center center no-repeat;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-prev,
.slick-next {
  position: absolute;
  display: none;
  height: 240px;
  width: 65px;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 0px;
  padding: 0;
  border: none;
  outline: none;
  z-index: 1000;
}
.slick-dots {
  position: absolute;
  bottom: -30px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 12px;
  width: 12px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  background-color: #cdd7dc;
  border-radius: 50%;
  display: block;
  height: 12px;
  width: 12px;
  outline: none;
  border: 0px;
  font-size: 0;
}
.slick-dots li.slick-active button {
  background-color: #698796;
}
.header {
  display: block;
  width: 100%;
  background-color: #1c2632;
}
.header:after {
  visibility: hidden;
  display: block;
  content: '';
  clear: both;
  height: 0;
}
@media only screen and (min-width: 480px) {
  .header {
    padding: 0 30px;
  }
}
.headerLeft {
  display: none;
}
@media only screen and (min-width: 480px) {
  .headerLeft {
    display: block;
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 48.5%;
    margin-left: 0%;
    margin-right: 3%;
  }
  .headerLeft:before,
  .headerLeft:after {
    content: '';
    display: table;
  }
  .headerLeft:after {
    clear: both;
  }
  .headerLeft:last-child {
    margin-right: 0%;
  }
}
.headerMenu {
  display: inline-block;
  padding: 15px 0px;
}
.headerMenuItem {
  display: inline-block;
  margin-right: 15px;
}
.headerMenuItem a {
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  text-decoration: none;
}
.headerMenuItem svg {
  margin-left: 5px;
  width: 6px;
  height: 6px;
  fill: #fff;
}
.headerRight {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
  text-align: center;
  padding: 15px 0px 15px;
}
.headerRight:before,
.headerRight:after {
  content: '';
  display: table;
}
.headerRight:after {
  clear: both;
}
.headerRight:last-child {
  margin-right: 0%;
}
@media only screen and (min-width: 480px) {
  .headerRight {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 48.5%;
    margin-left: 0%;
    margin-right: 3%;
    text-align: right;
    padding: 15px 0px 15px;
  }
  .headerRight:before,
  .headerRight:after {
    content: '';
    display: table;
  }
  .headerRight:after {
    clear: both;
  }
  .headerRight:last-child {
    margin-right: 0%;
  }
}
.headerNoLogin {
  display: inline-block;
}
.headerNoLogin a {
  display: inline-block;
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: #fff;
  padding-top: 5px;
}
.headerNoLogin a svg {
  margin-top: -5px;
  display: inline-block;
  vertical-align: middle;
  width: 23px;
  height: 30px;
  margin-right: 10px;
  fill: #fff;
}
@media only screen and (min-width: 480px) {
  .headerNoLogin a {
    padding-top: 0px;
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 1.3rem;
    line-height: 1.8rem;
    font-weight: 400;
    font-style: normal;
  }
  .headerNoLogin a svg {
    margin: 0;
    display: none;
  }
}
.headerLogin {
  display: none;
}
.headerLogin:after {
  visibility: hidden;
  display: block;
  content: '';
  clear: both;
  height: 0;
}
.headerLoginName {
  display: inline-block;
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  margin-right: 10px;
}
.headerLoginName a {
  color: #e58773;
}
.headerLoginCount {
  display: inline-block;
  background-color: #d7483e;
  color: #fff;
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-weight: 400;
  font-style: normal;
  padding: 3px 5px;
  margin-right: 10px;
  border-radius: 7px;
}
.headerLoginOut {
  display: inline-block;
}
.headerLoginOut a {
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  text-decoration: none;
}
.banner {
  display: block;
  background-color: #273645;
}
.bannerWrap {
  display: block;
  *zoom: 1;
  width: auto;
  max-width: 480px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
.bannerWrap:before,
.bannerWrap:after {
  content: '';
  display: table;
}
.bannerWrap:after {
  clear: both;
}
@media only screen and (min-width: 480px) {
  .bannerWrap {
    *zoom: 1;
    width: auto;
    max-width: 1000px;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
  }
  .bannerWrap:before,
  .bannerWrap:after {
    content: '';
    display: table;
  }
  .bannerWrap:after {
    clear: both;
  }
}
.bannerLogo {
  padding: 15px 5px;
}
.bannerLogo a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
}
.bannerLogo a img {
  width: 200px;
}
@media only screen and (min-width: 480px) {
  .bannerLogo {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 31.3333333333333%;
    margin-left: 0%;
    margin-right: 3%;
    padding: 15px 0px;
    width: 300px;
  }
  .bannerLogo:before,
  .bannerLogo:after {
    content: '';
    display: table;
  }
  .bannerLogo:after {
    clear: both;
  }
  .bannerLogo:last-child {
    margin-right: 0%;
  }
  .bannerLogo a {
    text-align: left;
  }
  .bannerLogo a img {
    width: 300px;
  }
}
.bannerText {
  display: none;
}
@media only screen and (min-width: 480px) {
  .bannerText {
    display: block;
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 65.6666666666667%;
    margin-left: 0%;
    margin-right: 3%;
    padding: 30px 0px 30px 50px;
    color: #fff;
  }
  .bannerText:before,
  .bannerText:after {
    content: '';
    display: table;
  }
  .bannerText:after {
    clear: both;
  }
  .bannerText:last-child {
    margin-right: 0%;
  }
  .bannerText h1 {
    font-family: 'Roboto-Light', sans-serif;
    font-size: 1.8rem;
    line-height: 2.4rem;
    font-weight: 200;
    font-style: normal;
  }
  .bannerText p {
    font-family: 'Roboto-Light', sans-serif;
    font-size: 1.5rem;
    line-height: 2.1rem;
    font-weight: 200;
    font-style: normal;
  }
}
.bannerMenuBar {
  background-color: #4d95cf;
  margin: 0px 10px;
  padding: 10px;
  border-bottom: 10px solid #437eae;
}
.bannerMenuBar:after {
  visibility: hidden;
  display: block;
  content: '';
  clear: both;
  height: 0;
}
@media only screen and (min-width: 480px) {
  .bannerMenuBar {
    *zoom: 1;
    width: auto;
    max-width: 1000px;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
    padding: 0px 20px 0px 0px;
  }
  .bannerMenuBar:before,
  .bannerMenuBar:after {
    content: '';
    display: table;
  }
  .bannerMenuBar:after {
    clear: both;
  }
}
.bannerMenu {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 17.6%;
  margin-left: 0%;
  margin-right: 3%;
}
.bannerMenu:before,
.bannerMenu:after {
  content: '';
  display: table;
}
.bannerMenu:after {
  clear: both;
}
.bannerMenu:last-child {
  margin-right: 0%;
}
@media only screen and (min-width: 480px) {
  .bannerMenu {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 74.25%;
    margin-left: 0%;
    margin-right: 3%;
  }
  .bannerMenu:before,
  .bannerMenu:after {
    content: '';
    display: table;
  }
  .bannerMenu:after {
    clear: both;
  }
  .bannerMenu:last-child {
    margin-right: 0%;
  }
}
.bannerMenuButton svg {
  width: 25px;
  height: 25px;
  fill: #fff;
}
@media only screen and (min-width: 480px) {
  .bannerMenuButton {
    display: none;
  }
}
.bannerMenuItems {
  display: none;
}
@media only screen and (min-width: 480px) {
  .bannerMenuItems {
    display: block;
  }
}
.bannerMenuItem {
  display: block;
  position: relative;
  float: left;
  height: 55px;
  padding: 0px 20px;
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 1.7rem;
  line-height: normal;
  font-weight: 400;
  font-style: normal;
  transition: all 0.5s;
}
.bannerMenuItem a {
  color: #fff;
  text-decoration: none;
  display: block;
  height: 100%;
  padding-top: 17px;
}
.bannerMenuItem:hover {
  background-color: #4d8dc8;
}
.bannerMenuItemActive {
  background-color: #3e81c2;
}
.bannerMenuItemActive:after {
  display: block;
  position: absolute;
  height: 10px;
  width: 100%;
  bottom: -10px;
  left: 0;
  z-index: 100;
  content: ' ';
  background-color: #3470a7;
}
.bannerMenuItemActive:hover {
  background-color: #3e81c2;
}
.bannerSearch {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 79.4%;
  margin-left: 0%;
  margin-right: 3%;
  position: relative;
  text-align: right;
}
.bannerSearch:before,
.bannerSearch:after {
  content: '';
  display: table;
}
.bannerSearch:after {
  clear: both;
}
.bannerSearch:last-child {
  margin-right: 0%;
}
.bannerSearch .input {
  display: block;
  position: absolute;
  right: 0;
  visibility: hidden;
  width: 0%;
  transition: width 0.5s;
}
.bannerSearch .inputShow {
  display: block;
  visibility: visible;
  width: 100%;
}
@media only screen and (min-width: 480px) {
  .bannerSearch {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 22.75%;
    margin-left: 0%;
    margin-right: 3%;
    padding: 17px 0px;
  }
  .bannerSearch:before,
  .bannerSearch:after {
    content: '';
    display: table;
  }
  .bannerSearch:after {
    clear: both;
  }
  .bannerSearch:last-child {
    margin-right: 0%;
  }
  .bannerSearch .input {
    width: 100%;
    visibility: visible;
  }
}
.bannerSearchButton {
  display: block;
  position: absolute;
  z-index: 100;
  top: 4px;
  right: 5px;
}
.bannerSearchButton svg {
  width: 20px;
  height: 20px;
  fill: #fff;
}
@media only screen and (min-width: 480px) {
  .bannerSearchButton {
    padding: 17px 0px;
  }
  .bannerSearchButton svg {
    fill: #808080;
  }
}
.bannerSearchButtonActive {
  display: block;
  position: absolute;
  top: 4px;
  right: 5px;
}
.bannerSearchButtonActive svg {
  width: 20px;
  height: 20px;
  fill: #808080;
}
.breadcrumbs {
  padding: 0 10px;
}
@media only screen and (min-width: 480px) {
  .breadcrumbs {
    padding: 0;
    *zoom: 1;
    width: auto;
    max-width: 1000px;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
  }
  .breadcrumbs:before,
  .breadcrumbs:after {
    content: '';
    display: table;
  }
  .breadcrumbs:after {
    clear: both;
  }
}
.breadcrumbsWrap {
  padding: 15px;
  background-color: #fff;
}
@media only screen and (min-width: 480px) {
  .breadcrumbsWrap {
    padding: 15px 0px;
  }
}
.breadcrumbItem {
  display: inline-block;
  vertical-align: middle;
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 1.3rem;
  line-height: 1.6rem;
  font-weight: 400;
  font-style: normal;
  color: #5e6577;
  cursor: default;
}
.breadcrumbItem a {
  color: #273645;
  text-decoration: none;
  color: #0e73c0;
  margin-right: 5px;
  transition: color 0.5s;
}
.breadcrumbItem a:hover {
  color: #39a1f1;
}
.breadcrumbItem svg {
  display: inline-block;
  margin-right: 5px;
  width: 6px;
  height: 8px;
  fill: #c8cbd0;
}
.breadcrumbItem:last-child svg {
  display: none;
}
.forum {
  display: block;
  margin-bottom: 10px;
}
.forum:after {
  visibility: hidden;
  display: block;
  content: '';
  clear: both;
  height: 0;
}
@media only screen and (min-width: 480px) {
  .forum {
    margin-bottom: 30px;
  }
}
.forumHeader {
  display: none;
}
@media only screen and (min-width: 480px) {
  .forumHeader {
    display: block;
    margin-bottom: 20px;
  }
  .forumHeader:after {
    visibility: hidden;
    display: block;
    content: '';
    clear: both;
    height: 0;
  }
  .forumHeader h1 {
    font-family: 'Roboto-Light', sans-serif;
    font-size: 3.4rem;
    line-height: 4rem;
    font-weight: 200;
    font-style: normal;
    color: #5a687e;
  }
  .forumHeader h1 a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: #0e73c0;
    transition: color 0.5s;
  }
  .forumHeader h1 a:hover {
    color: #39a1f1;
  }
  .forumHeader h1 a:after {
    display: block;
    position: absolute;
    width: calc(100% - 20px);
    margin: 0 -10px 0 10px;
    height: 1px;
    bottom: 0;
    left: 0;
    content: ' ';
    background-color: rgba(14,115,192,0.3);
  }
}
.forumFastChoise {
  display: block;
  background-color: #eef2f3;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 15px;
}
.forumFastChoise:after {
  visibility: hidden;
  display: block;
  content: '';
  clear: both;
  height: 0;
}
@media only screen and (min-width: 480px) {
  .forumFastChoise {
    padding: 25px;
  }
}
.forumFastChoiseItem {
  display: none;
}
@media only screen and (min-width: 480px) {
  .forumFastChoiseItem {
    display: block;
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 48.5%;
    margin-left: 0%;
    margin-right: 3%;
  }
  .forumFastChoiseItem:before,
  .forumFastChoiseItem:after {
    content: '';
    display: table;
  }
  .forumFastChoiseItem:after {
    clear: both;
  }
  .forumFastChoiseItem:last-child {
    margin-right: 0%;
  }
}
.forumFastChoiseItemSmall {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
}
.forumFastChoiseItemSmall:before,
.forumFastChoiseItemSmall:after {
  content: '';
  display: table;
}
.forumFastChoiseItemSmall:after {
  clear: both;
}
.forumFastChoiseItemSmall:last-child {
  margin-right: 0%;
}
@media only screen and (min-width: 480px) {
  .forumFastChoiseItemSmall {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 22.75%;
    margin-left: 0%;
    margin-right: 3%;
  }
  .forumFastChoiseItemSmall:before,
  .forumFastChoiseItemSmall:after {
    content: '';
    display: table;
  }
  .forumFastChoiseItemSmall:after {
    clear: both;
  }
  .forumFastChoiseItemSmall:last-child {
    margin-right: 0%;
  }
}
.forumCategoryItem {
  display: block;
  padding: 0px 10px;
}
@media only screen and (min-width: 480px) {
  .forumCategoryItem {
    padding: 0px 0px;
    border-bottom: 1px solid #cdd7dc;
    height: 100%;
  }
  .forumCategoryItem:after {
    visibility: hidden;
    display: block;
    content: '';
    clear: both;
    height: 0;
  }
  .forumCategoryItem:first-child {
    border-top: 1px solid #cdd7dc;
  }
}
.forumCategoryItemLeft {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
  padding: 10px 0px;
}
.forumCategoryItemLeft:before,
.forumCategoryItemLeft:after {
  content: '';
  display: table;
}
.forumCategoryItemLeft:after {
  clear: both;
}
.forumCategoryItemLeft:last-child {
  margin-right: 0%;
}
@media only screen and (min-width: 480px) {
  .forumCategoryItemLeft {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 70.57142857142854%;
    margin-left: 0%;
    margin-right: 3%;
  }
  .forumCategoryItemLeft:before,
  .forumCategoryItemLeft:after {
    content: '';
    display: table;
  }
  .forumCategoryItemLeft:after {
    clear: both;
  }
  .forumCategoryItemLeft:last-child {
    margin-right: 0%;
  }
}
.forumCategoryItemIcon {
  display: none;
}
@media only screen and (min-width: 480px) {
  .forumCategoryItemIcon {
    display: table-cell;
    vertical-align: middle;
    padding-right: 20px;
  }
  .forumCategoryItemIcon svg {
    width: 30px;
    height: 39px;
    fill: #cdd7dc;
  }
}
.forumCategoryItemText {
  display: table-cell;
  width: 100%;
}
.forumCategoryItemName {
  display: block;
  padding-bottom: 5px;
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 1.8rem;
  line-height: 2.2rem;
  font-weight: 400;
  font-style: normal;
  color: #d7483e;
}
.forumCategoryItemName:after {
  visibility: hidden;
  display: block;
  content: '';
  clear: both;
  height: 0;
}
.forumCategoryItemName a {
  text-decoration: none;
  color: #d7483e;
  transition: color 0.5s;
}
.forumCategoryItemName a:hover {
  color: #a12a21;
}
@media only screen and (min-width: 480px) {
  .forumCategoryItemName {
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 2rem;
    line-height: 2.4rem;
    font-weight: 400;
    font-style: normal;
  }
}
.forumCategoryItemSubforum {
  display: block;
  vertical-align: middle;
  padding-bottom: 5px;
}
.forumCategoryItemSubforum a {
  color: #273645;
  vertical-align: middle;
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 1.3rem;
  line-height: 1.6rem;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: #0e73c0;
  margin-right: 7px;
  transition: color 0.5s;
}
.forumCategoryItemSubforum a:hover {
  color: #74bdf5;
}
.forumCategoryItemSubforumDot {
  display: inline-block;
  background-color: #d7483e;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  margin-right: 7px;
}
.forumCategoryItemRigth {
  display: none;
}
@media only screen and (min-width: 480px) {
  .forumCategoryItemRigth {
    display: block;
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 26.428571428571455%;
    margin-left: 0%;
    margin-right: 3%;
    height: 91px;
    background-color: #f7f7f7;
    padding: 25px 0px 30px 20px;
  }
  .forumCategoryItemRigth:before,
  .forumCategoryItemRigth:after {
    content: '';
    display: table;
  }
  .forumCategoryItemRigth:after {
    clear: both;
  }
  .forumCategoryItemRigth:last-child {
    margin-right: 0%;
  }
}
.forumCategoryItemMobileCount {
  display: block;
}
@media only screen and (min-width: 480px) {
  .forumCategoryItemMobileCount {
    display: none;
  }
}
.forumCategoryItemSubject {
  display: inline-block;
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 1.2rem;
  line-height: 1.4rem;
  font-weight: 400;
  font-style: normal;
  color: #5a687e;
  margin-bottom: 10px;
  margin-right: 5px;
}
.forumCategoryItemSubject:after {
  display: inline-block;
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 1.2rem;
  line-height: 1.4rem;
  font-weight: 400;
  font-style: normal;
  content: '|';
  padding-left: 5px;
}
@media only screen and (min-width: 480px) {
  .forumCategoryItemSubject {
    display: block;
  }
  .forumCategoryItemSubject:after {
    display: none;
  }
}
.forumCategoryItemMessage {
  display: inline-block;
  color: #5a687e;
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 1.2rem;
  line-height: 1.4rem;
  font-weight: 400;
  font-style: normal;
}
@media only screen and (min-width: 480px) {
  .forumCategoryItemMessage {
    display: block;
  }
}
.sidebar {
  display: none;
  padding-top: 60px;
  background-color: #fff;
  padding: 0px 10px;
}
.sidebar:after {
  visibility: hidden;
  display: block;
  content: '';
  clear: both;
  height: 0;
}
@media only screen and (min-width: 480px) {
  .sidebar {
    display: block;
    padding: 0;
  }
}
.sidebarBlock {
  display: block;
  width: 100%;
  padding: 20px;
  border: 1px solid #cdd7dc;
  margin-bottom: 30px;
}
.sidebarBlock img {
  width: 100%;
}
.sidebarBlockHeader {
  display: block;
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 400;
  font-style: normal;
  color: #0e73c0;
  margin-bottom: 10px;
}
.sidebarBlockHeader:after {
  visibility: hidden;
  display: block;
  content: '';
  clear: both;
  height: 0;
}
.sidebarBlockItem {
  display: block;
  margin-bottom: 15px;
}
.sidebarBlockItem:after {
  visibility: hidden;
  display: block;
  content: '';
  clear: both;
  height: 0;
}
.sidebarBlockItemHeader {
  display: block;
  margin-bottom: 5px;
}
.sidebarBlockItemHeader:after {
  visibility: hidden;
  display: block;
  content: '';
  clear: both;
  height: 0;
}
.sidebarBlockItemHeader a {
  display: block;
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 1.4rem;
  line-height: 2.2rem;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: #d7483e;
  transition: color 0.5s;
}
.sidebarBlockItemHeader a:hover {
  color: #a12a21;
}
.sidebarBlockItemBody {
  display: block;
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 1.3rem;
  line-height: 1.5rem;
  font-weight: 400;
  font-style: normal;
  color: #5a687e;
  margin-bottom: 7px;
}
.sidebarBlockItemBody:after {
  visibility: hidden;
  display: block;
  content: '';
  clear: both;
  height: 0;
}
.sidebarBlockItemAuthor {
  display: block;
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 1.1rem;
  line-height: 1.3rem;
  font-weight: 400;
  font-style: normal;
  color: #5a687e;
  margin-bottom: 5px;
}
.sidebarBlockItemAuthor:after {
  visibility: hidden;
  display: block;
  content: '';
  clear: both;
  height: 0;
}
.sidebarBlockItemAuthor a {
  color: #273645;
  text-decoration: none;
  color: #0e73c0;
  margin-right: 5px;
  transition: color 0.5s;
}
.sidebarBlockItemAuthor a:hover {
  color: #39a1f1;
}
.sidebarBlockItemCount {
  display: block;
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 1.1rem;
  line-height: 1.8rem;
  font-weight: 400;
  font-style: normal;
  color: #5a687e;
}
.sidebarBlockItemCount:after {
  visibility: hidden;
  display: block;
  content: '';
  clear: both;
  height: 0;
}
.sidebarBlockItemCountView {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}
.sidebarBlockItemCountView svg {
  margin-right: 3px;
  width: 18px;
  height: 18px;
  fill: #cdd7dc;
}
.sidebarBlockItemCountComments {
  display: inline-block;
  vertical-align: top;
}
.sidebarBlockItemCountComments svg {
  padding-top: 4px;
  margin-right: 3px;
  width: 17px;
  height: 17px;
  fill: #cdd7dc;
}
.topOnSite {
  display: block;
  padding-bottom: 30px;
  background-color: #fff;
}
.topOnSite:after {
  visibility: hidden;
  display: block;
  content: '';
  clear: both;
  height: 0;
}
@media only screen and (min-width: 480px) {
  .topOnSite {
    padding-top: 0;
    margin-top: 0;
  }
}
.topOnSiteHeader {
  display: block;
  padding: 0 10px;
}
.topOnSiteHeader:after {
  visibility: hidden;
  display: block;
  content: '';
  clear: both;
  height: 0;
}
.topOnSiteHeader h2 {
  color: #d7483e;
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 1.8rem;
  line-height: 2.6rem;
  font-weight: 400;
  font-style: normal;
}
@media only screen and (min-width: 480px) {
  .topOnSiteHeader {
    padding: 0;
    margin-bottom: 10px;
  }
}
.topOnSiteItem {
  display: block;
  padding: 0px 10px;
  border-bottom: 1px solid #cdd7dc;
}
.topOnSiteItem:after {
  visibility: hidden;
  display: block;
  content: '';
  clear: both;
  height: 0;
}
@media only screen and (min-width: 480px) {
  .topOnSiteItem {
    padding: 0px 0px;
    border-bottom: 1px solid #cdd7dc;
    height: 100%;
  }
  .topOnSiteItem:after {
    visibility: hidden;
    display: block;
    content: '';
    clear: both;
    height: 0;
  }
  .topOnSiteItem:first-child {
    border-top: 1px solid #cdd7dc;
  }
}
.topOnSiteItemLeft {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  padding: 10px 0px;
}
.topOnSiteItemLeft:before,
.topOnSiteItemLeft:after {
  content: '';
  display: table;
}
.topOnSiteItemLeft:after {
  clear: both;
}
@media only screen and (min-width: 480px) {
  .topOnSiteItemLeft {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 44.4444444444444%;
    margin-left: 0%;
    margin-right: 0%;
  }
  .topOnSiteItemLeft:before,
  .topOnSiteItemLeft:after {
    content: '';
    display: table;
  }
  .topOnSiteItemLeft:after {
    clear: both;
  }
}
.topOnSiteItemWrap {
  padding-top: 10px;
}
.topOnSiteItemIcon {
  display: table-cell;
  vertical-align: middle;
  padding-right: 15px;
}
.topOnSiteItemIcon img {
  width: 40px;
}
.topOnSiteItemIcon svg {
  width: 30px;
  height: 39px;
  fill: #cdd7dc;
}
@media only screen and (min-width: 480px) {
  .topOnSiteItemIcon {
    display: table-cell;
    vertical-align: middle;
    padding-right: 20px;
  }
}
.topOnSiteItemText {
  display: table-cell;
  width: 100%;
}
.topOnSiteItemName {
  display: block;
  padding-bottom: 5px;
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 1.8rem;
  line-height: 2.2rem;
  font-weight: 400;
  font-style: normal;
  color: #d7483e;
}
.topOnSiteItemName:after {
  visibility: hidden;
  display: block;
  content: '';
  clear: both;
  height: 0;
}
.topOnSiteItemName a {
  text-decoration: none;
  color: #d7483e;
  transition: color 0.5s;
}
.topOnSiteItemName a:hover {
  color: #a12a21;
}
@media only screen and (min-width: 480px) {
  .topOnSiteItemName {
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 2rem;
    line-height: 2.4rem;
    font-weight: 400;
    font-style: normal;
  }
}
.topOnSiteItemSubforum {
  display: block;
  vertical-align: middle;
  padding-bottom: 5px;
}
.topOnSiteItemSubforum a {
  color: #273645;
  vertical-align: middle;
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 1.3rem;
  line-height: 1.6rem;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: #0e73c0;
  margin-right: 7px;
  transition: color 0.5s;
}
.topOnSiteItemSubforum a:hover {
  color: #74bdf5;
}
.topOnSiteItemSubforumDot {
  display: inline-block;
  background-color: #d7483e;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  margin-right: 7px;
}
.topOnSiteItemMiddle {
  display: none;
}
@media only screen and (min-width: 480px) {
  .topOnSiteItemMiddle {
    display: block;
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 22.2222222222222%;
    margin-left: 0%;
    margin-right: 0%;
    height: 91px;
    background-color: #f7f7f7;
    padding: 25px 0px 30px 20px;
  }
  .topOnSiteItemMiddle:before,
  .topOnSiteItemMiddle:after {
    content: '';
    display: table;
  }
  .topOnSiteItemMiddle:after {
    clear: both;
  }
}
.topOnSiteItemMobileCount {
  display: block;
}
@media only screen and (min-width: 480px) {
  .topOnSiteItemMobileCount {
    display: none;
  }
}
.topOnSiteItemSubject {
  display: inline-block;
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 1.2rem;
  line-height: 1.4rem;
  font-weight: 400;
  font-style: normal;
  color: #5a687e;
  margin-bottom: 10px;
  margin-right: 5px;
}
.topOnSiteItemSubject:after {
  display: inline-block;
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 1.2rem;
  line-height: 1.4rem;
  font-weight: 400;
  font-style: normal;
  content: '|';
  padding-left: 5px;
}
@media only screen and (min-width: 480px) {
  .topOnSiteItemSubject {
    display: block;
  }
  .topOnSiteItemSubject:after {
    display: none;
  }
}
.topOnSiteItemMessage {
  display: inline-block;
  color: #5a687e;
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 1.2rem;
  line-height: 1.4rem;
  font-weight: 400;
  font-style: normal;
}
@media only screen and (min-width: 480px) {
  .topOnSiteItemMessage {
    display: block;
  }
}
.topOnSiteItemRight {
  display: none;
}
@media only screen and (min-width: 480px) {
  .topOnSiteItemRight {
    display: block;
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 33.3333333333333%;
    margin-left: 0%;
    margin-right: 0%;
    height: 91px;
    padding: 15px 0px 30px 20px;
  }
  .topOnSiteItemRight:before,
  .topOnSiteItemRight:after {
    content: '';
    display: table;
  }
  .topOnSiteItemRight:after {
    clear: both;
  }
}
.topOnSiteItemLastSubject {
  display: inline-block;
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 1.2rem;
  line-height: 1.4rem;
  font-weight: 400;
  font-style: normal;
  color: #5a687e;
  margin-bottom: 10px;
  margin-right: 5px;
}
.topOnSiteItemLastSubject:after {
  display: inline-block;
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 1.2rem;
  line-height: 1.4rem;
  font-weight: 400;
  font-style: normal;
  content: '|';
  padding-left: 5px;
}
.topOnSiteItemLastSubject a {
  color: #273645;
  vertical-align: middle;
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 1.3rem;
  line-height: 1.6rem;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: #0e73c0;
  margin-right: 7px;
  transition: color 0.5s;
}
.topOnSiteItemLastSubject a:hover {
  color: #74bdf5;
}
@media only screen and (min-width: 480px) {
  .topOnSiteItemLastSubject {
    display: block;
  }
  .topOnSiteItemLastSubject:after {
    display: none;
  }
}
.topOnSiteItemLastTime {
  display: inline-block;
  color: #5a687e;
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 1.2rem;
  line-height: 1.4rem;
  font-weight: 400;
  font-style: normal;
}
.topOnSiteItemLastTime b {
  color: #d7483e;
}
@media only screen and (min-width: 480px) {
  .topOnSiteItemLastTime {
    display: block;
  }
}
.mobileMainAds {
  display: block;
  width: 100%;
  padding: 0 10px;
  padding-bottom: 20px;
  background-color: #fff;
}
.mobileMainAds:after {
  visibility: hidden;
  display: block;
  content: '';
  clear: both;
  height: 0;
}
.mobileMainAds img {
  width: 100%;
}
@media only screen and (min-width: 480px) {
  .mobileMainAds {
    display: none;
  }
}
.contentAds {
  display: none;
}
@media only screen and (min-width: 480px) {
  .contentAds {
    display: block;
  }
  .contentAds img {
    width: 100%;
  }
}
.mobileSlideOnline {
  display: block;
  background-color: #fff;
  padding-bottom: 30px;
}
.mobileSlideOnline:after {
  visibility: hidden;
  display: block;
  content: '';
  clear: both;
  height: 0;
}
@media only screen and (min-width: 480px) {
  .mobileSlideOnline {
    display: none;
  }
}
.mobileSlideOnlineItems {
  display: block;
  height: 160px;
  background-color: #eef2f3;
}
.mobileSlideOnlineItems:after {
  visibility: hidden;
  display: block;
  content: '';
  clear: both;
  height: 0;
}
.mobileSlideOnlineHeader {
  display: block;
  padding: 0 0px 0 10px;
  margin-bottom: 10px;
}
.mobileSlideOnlineHeader:after {
  visibility: hidden;
  display: block;
  content: '';
  clear: both;
  height: 0;
}
.mobileSlideOnlineHeader h2 {
  color: #d7483e;
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 1.8rem;
  line-height: 2.6rem;
  font-weight: 400;
  font-style: normal;
}
.mobileSlideOnlineItem {
  display: block;
  padding: 20px 10px;
}
.mobileSlideOnlineItemName {
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 1.3rem;
  line-height: 1.6rem;
  font-weight: 400;
  font-style: normal;
  color: #5a687e;
  margin-bottom: 5px;
}
.mobileSlideOnlineItemName a {
  display: inline-block;
  margin-top: -3px;
  color: #273645;
  vertical-align: middle;
  text-decoration: none;
  color: #0e73c0;
  margin-right: 7px;
  transition: color 0.5s;
}
.mobileSlideOnlineItemName a:hover {
  color: #74bdf5;
}
.mobileSlideOnlineItemSubject a {
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 2.4rem;
  line-height: normal;
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #0e73c0;
  transition: color 0.5s;
  margin-bottom: 5px;
}
.mobileSlideOnlineItemSubject a:hover {
  color: #39a1f1;
}
.mobileSlideOnlineItemSubject a:after {
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 4px;
  left: 0;
  content: ' ';
  background-color: #f6beaa;
}
.mobileSlideOnlineItemSubject p {
  color: #5a687e;
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 400;
  font-style: normal;
}
.footer {
  display: block;
  background-color: #273645;
  height: 50px;
  margin-top: -10px;
  width: 100%;
}
.footer:after {
  visibility: hidden;
  display: block;
  content: '';
  clear: both;
  height: 0;
}
@media only screen and (min-width: 480px) {
  .footer {
    margin-top: 0;
    height: 100px;
  }
}
.footerWrap {
  *zoom: 1;
  width: auto;
  max-width: 900px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
.footerWrap:before,
.footerWrap:after {
  content: '';
  display: table;
}
.footerWrap:after {
  clear: both;
}
.footerLeft {
  display: none;
}
@media only screen and (min-width: 480px) {
  .footerLeft {
    display: block;
    padding-top: 40px;
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 48.5%;
    margin-left: 0%;
    margin-right: 3%;
  }
  .footerLeft:before,
  .footerLeft:after {
    content: '';
    display: table;
  }
  .footerLeft:after {
    clear: both;
  }
  .footerLeft:last-child {
    margin-right: 0%;
  }
  .footerLeft p {
    display: inline-block;
    color: #fff;
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 400;
    font-style: normal;
  }
  .footerLeft p:after {
    content: '|';
    margin: 0 10px;
    text-decoration: none;
  }
  .footerLeft a {
    olor: #fff;
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 400;
    font-style: normal;
    color: #fff;
  }
}
.footerRight {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
  text-align: center;
}
.footerRight:before,
.footerRight:after {
  content: '';
  display: table;
}
.footerRight:after {
  clear: both;
}
.footerRight:last-child {
  margin-right: 0%;
}
@media only screen and (min-width: 480px) {
  .footerRight {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 48.5%;
    margin-left: 0%;
    margin-right: 3%;
    text-align: center;
  }
  .footerRight:before,
  .footerRight:after {
    content: '';
    display: table;
  }
  .footerRight:after {
    clear: both;
  }
  .footerRight:last-child {
    margin-right: 0%;
  }
}
.footerRightItems {
  display: inline-block;
}
@media only screen and (min-width: 480px) {
  .footerRightItems {
    padding-top: 35px;
  }
}
.socialItem {
  display: inline-block;
  position: relative;
  margin-right: 10px;
}
.socialItem svg {
  z-index: 2;
  position: relative;
  width: 25px;
  height: 25px;
  fill: #5d95c1;
}
.socialItem:after {
  display: block;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  content: ' ';
  background-color: #fff;
  width: 15px;
  height: 15px;
}
.counter {
  display: none;
  width: 70px;
  height: 30px;
}
.counter img {
  width: 100%;
}
@media only screen and (min-width: 480px) {
  .counter {
    display: inline-block;
  }
}
