.forum
    display block
    margin-bottom 10px
    sf()
    @media web
        margin-bottom 30px
.forumHeader
    display none
    @media web
        display block
        margin-bottom 20px
        sf()
        h1
            ff(light_f,3.4,4)
            color violets
            a
                display inline-block
                position relative
                text-decoration none
                color links
                transition color .5s
                &:hover
                    color linksHover
                &:after
                    display block
                    position absolute
                    width calc(100% - 20px)
                    margin 0 -10px 0 10px
                    height 1px
                    bottom 0
                    left 0
                    content ' '
                    background-color rgba(14,115,192,0.3)

.forumFastChoise
    display block
    background-color #eef2f3
    border-radius 4px
    padding 10px
    margin-bottom 15px
    sf()
    @media web
        padding 25px
.forumFastChoiseItem
    display none
    @media web
        display block
        col(2/4)
.forumFastChoiseItemSmall
    col(1/2)
    @media web
        col(1/4)