.banner
    display block
    background-color blues
.bannerWrap
    display block
    center(480px)
    @media web
        center(1000px)

.bannerLogo
    padding 15px 5px
    a
        display block
        width 100%
        height 100%
        text-align center
        img
            width 200px
    @media web
        col(1/3)
        padding 15px 0px
        width 300px
        a
            text-align left
            img
                width 300px

.bannerText
    display none
    @media web
        display block
        col(2/3)
        padding 30px 0px 30px 50px
        color #fff
        h1
            ff(light_f,1.8,2.4)
        p
            ff(light_f,1.5,2.1)
.bannerMenuBar
    background-color #4d95cf
    margin 0px 10px
    padding 10px
    border-bottom 10px solid #437eae
    sf()
    @media web
        center(1000px)
        padding 0px 20px 0px 0px

.bannerMenu
    col(1/5)
    @media web
        col(3/4)
.bannerMenuButton
    svg
        size(25,25)
        fill #fff
    @media web
        display none
.bannerMenuItems
    display none
    @media web
        display block
.bannerMenuItem
    display block
    position relative
    float left
    height 55px
    padding 0px 20px
    ff(normal,1.7)
    transition all 0.5s
    a
        color #fff
        text-decoration none
        display block
        height 100%
        padding-top 17px
    &:hover
        background-color lighten(#3470a7,20%)
.bannerMenuItemActive
    background-color #3e81c2
    &:after
        display block
        position absolute
        height 10px
        width 100%
        bottom -10px
        left 0
        z-index 100
        content ' '
        background-color #3470a7
    &:hover
        background-color #3e81c2
.bannerSearch
    col(4/5)
    position relative
    text-align right
    .input
        display block
        position absolute
        right 0
        visibility hidden
        width 0%
        transition width 0.5s
    .inputShow
        display block
        visibility visible
        width 100%
    @media web
        col(1/4)
        padding 17px 0px
        .input
            width 100%
            visibility visible
.bannerSearchButton
    display block
    position absolute
    z-index 100
    top 4px
    right 5px
    svg
        size(20,20)
        fill #fff
    @media web
        padding 17px 0px
        svg
            fill grey

.bannerSearchButtonActive
    display block
    position absolute
    top 4px
    right 5px
    svg
        size(20,20)
        fill grey