doctype
html(lang="ru")
  head
    title Oco
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1")
    link(href='./css/blocks.css', type="text/css", rel="stylesheet")
    link(href='./css/blocks.uri.css', type="text/css", rel="stylesheet")
    include _favicon.jade
    <!--[if IE 8]><link rel="stylesheet" href="./css/blocks.ie.css"><![endif]-->
    <!--[if lt IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script><![endif]-->
    //- script(src="./js/load.js")
    include _font.jade
    include _svg.jade
    //- include ../../public/img/svghtml.html
    include block/fastchoise

  body
    include block/header
    .container
        block content
    include block/footer


    //- script(src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js")
    script(src="./js/vendor.js")
    script(src="./js/index.js")