extends _layout

block content
    include block/banner
    include block/breadcrumbs
    .content
        .contentMain
            include block/forumcategory
            .mobileMainAds
                img(src="img/ads01.jpg", alt="")
        .sidebar
            include block/sidebar
    .content
        include block/toponsite
        .mobileSlideOnline
            .mobileSlideOnlineHeader
                h2 Прямой эфир сообщества
            .mobileSlideOnlineItems.slider
                .mobileSlideOnlineItem
                    .mobileSlideOnlineItemName
                        a(href="#") Асмик
                        | 2014-10-14 12:41
                    .mobileSlideOnlineItemSubject
                        a(href="#") Аспирин., лимон
                        p очень хорошо помогает при простуде,как только чувствую что начинаю соплить,сразу 1 пакетик в кипяток и все готова и на вкус тоже очень приятный.
                .mobileSlideOnlineItem
                    .mobileSlideOnlineItemName
                        a(href="#") Асмик
                        | 2014-10-14 12:41
                    .mobileSlideOnlineItemSubject
                        a(href="#") Апельсин., лимон
                        p очень хорошо помогает при простуде,как только чувствую что начинаю соплить,сразу 1 пакетик в кипяток и все готова и на вкус тоже очень приятный.
                .mobileSlideOnlineItem
                    .mobileSlideOnlineItemName
                        a(href="#") Асмик
                        | 2014-10-14 12:41
                    .mobileSlideOnlineItemSubject
                        a(href="#") Йогурт., лимон
                        p очень хорошо помогает при простуде,как только чувствую что начинаю соплить,сразу 1 пакетик в кипяток и все готова и на вкус тоже очень приятный.
    .content
        .contentAds
            img(src="img/ads03.jpg", alt="")
        .mobileMainAds
                img(src="img/ads04.jpg", alt="")