.sidebar
    display none
    padding-top 60px
    background-color #fff
    padding 0px 10px
    sf()
    @media web
        display block
        padding 0
.sidebarBlock
    display block
    width 100%
    padding 20px
    border 1px solid #cdd7dc
    margin-bottom 30px
    img
        width 100%

.sidebarBlockHeader
    display block
    ff(normal,2.0,2.4)
    color links
    margin-bottom 10px
    sf()
.sidebarBlockItem
    display block
    margin-bottom 15px
    sf()
.sidebarBlockItemHeader
    display block
    margin-bottom 5px
    sf()
    a
        display block
        ff(normal,1.4,2.2)
        text-decoration none
        color reds
        transition color .5s
        &:hover
            color darken(reds,30%)
.sidebarBlockItemBody
    display block
    ff(normal,1.3,1.5)
    color violets
    margin-bottom 7px
    sf()
.sidebarBlockItemAuthor
    display block
    ff(normal,1.1,1.3)
    color violets
    margin-bottom 5px
    sf()
    a
        color blues
        text-decoration none
        color #0e73c0
        margin-right 5px
        transition color .5s
        &:hover
            color lighten(#0e73c0,30%)

.sidebarBlockItemCount
    display block
    ff(normal,1.1,1.8)
    color violets
    sf()

.sidebarBlockItemCountView
    display inline-block
    vertical-align top
    margin-right 10px
    svg
        margin-right 3px
        size(18)
        fill #cdd7dc
.sidebarBlockItemCountComments
    display inline-block
    vertical-align top
    svg
        padding-top 4px
        margin-right 3px
        size(17)
        fill #cdd7dc