.banner
    .bannerWrap
        .bannerLogo
            a(href="#")
                img(src='img/logo.svg')
        .bannerText
            h1 Добро пожаловать!
            p.
                Medrug.ru — самый крупный медицинский форум в рунете, здесь вы можете</br> поделиться своей проблемой, получить ценный совет другого человека или профессиональную консультацию врача.
    .bannerMenuBar
        .bannerMenu
            .bannerMenuButton
                +svgIcon('icon-menu')
            .bannerMenuItems
                .bannerMenuItem.bannerMenuItemActive
                    a(href="#") Форумы
                .bannerMenuItem
                    a(href="#") Лекарства
                .bannerMenuItem
                    a(href="#") Учреждения
                .bannerMenuItem
                    a(href="#") Библиотека
                .bannerMenuItem
                    a(href="#") Сервисы
        .bannerSearch
            .bannerSearchButton
                +svgIcon('icon-search')
            input.input(placeholder="Поиск по сайту")