.breadcrumbs
    .breadcrumbsWrap
        .breadcrumbItem
            a(href="#") Главная
            +svgIcon('icon-arrowright')
        .breadcrumbItem
            a(href="#") Форумы
            +svgIcon('icon-arrowright')
        .breadcrumbItem
            | Все форумы
            +svgIcon('icon-arrowright')