.footer
    .footerWrap
        .footerLeft
            p
                | © Медицинский портал «Медкруг», 2007–2014
            a(href="#") Жалуйтесь
        .footerRight
            .footerRightItems
                .socialItem
                    a(href="#")
                        +svgIcon('icon-vk')
                .socialItem
                    a(href="#")
                        +svgIcon('icon-facebook')
                .socialItem
                    a(href="#")
                        +svgIcon('icon-twitter')
                .counter
                    img(src="img/count.jpg", alt="")