mixin forumCategoryItem(name)
    .forumCategoryItem
            .forumCategoryItemLeft
                .forumCategoryItemWrap
                    .forumCategoryItemIcon
                        +svgIcon('icon-category')
                    .forumCategoryItemText
                        .forumCategoryItemName
                            a(href="#")= name
                        .forumCategoryItemMobileCount
                            .forumCategoryItemSubject
                                | Тем 30,456
                            .forumCategoryItemMessage
                                | Сообщений 578,987
                        .forumCategoryItemSubforum
                            a(href="#") Болезнь Пейрони 
                            .forumCategoryItemSubforumDot
                            a(href="#") Варикоцеле и гидроцеле 
                            .forumCategoryItemSubforumDot
                            a(href="#") Воспалительные заболевания мужских половых органов 
                            .forumCategoryItemSubforumDot
                            a(href="#") Варикоцеле и гидроцеле
            .forumCategoryItemRigth
                .forumCategoryItemSubject
                    | Тем 30,456
                .forumCategoryItemMessage
                    | Сообщений 578,987
