.forum
    .forumHeader
        h1 Все форумы по теме&nbsp
            a(href="#") «Здоровье»
    .forumFastChoise
        .forumFastChoiseItem
            label.label Быстрый переход к разделу
            +fastchoise('Андрология (мужские болезни)')
        .forumFastChoiseItemSmall
            label.label Упорядочить по
            +fastchoise('Все время')
        .forumFastChoiseItemSmall
            label.label Темы за
            +fastchoise('Все время')
    .forumCategory
        include forumcategorymixin
        +forumCategoryItem('Андрология (мужские болезни)')
        +forumCategoryItem('Болезни крови (гематология)')
        +forumCategoryItem('Болезни сосудов (ангиология)')
        +forumCategoryItem('Болезни уха, горла и носа (ЛОР)')
        +forumCategoryItem('Гастроэнтерология')
        +forumCategoryItem('Генетические болезни')
        +forumCategoryItem('Гинекология')
        +forumCategoryItem('Глазные болезни (офтальмология)')
        +forumCategoryItem('Здравоохранение')
        +forumCategoryItem('Иммунология, аллергология')
        +forumCategoryItem('Инфекционные болезни')
        +forumCategoryItem('Кардиология')
        +forumCategoryItem('Кожные болезни (дерматология)')
        +forumCategoryItem('Маммология')
        +forumCategoryItem('Мануальная терапия, массаж, физиотерапия')
        +forumCategoryItem('Наркология')
        +forumCategoryItem('Нервные болезни (неврология)')
        +forumCategoryItem('Нетрадиционные методы лечения')
        +forumCategoryItem('Обменные нарушения')
        +forumCategoryItem('Онкология')


