.header
    .headerLeft
        .headerMenu
            .headerMenuItem
                a(href="#") Главная
            .headerMenuItem
                a(href="#") Реклама
                +svgIcon('icon-arrowdown')

            .headerMenuItem
                a(href="#") Старая версия сайта
    .headerRight
        .headerNoLogin
            a(href="#").protoLoginJS
                +svgIcon('icon-lock')
                | Войти
        .headerLogin
            .headerLoginName
                | Вы зашли как &nbsp
                a(href="#") Андрей Клименко
            .headerLoginCount
                | 99+
            .headerLoginOut
                a(href="#").protoLoginOutJS Выход


