mixin sidebarBlockItem()
    .sidebarBlockItem
        .sidebarBlockItemHeader
            a(href="#") Лечение трихофитиикак
        .sidebarBlockItemBody
            | вылечить храническую трихофитию и что делать если не помогает тербинафин
        .sidebarBlockItemAuthor
            | olya.ishenko2014@yandex.ru пишет в&nbsp
            a(href="#") Лишай
        .sidebarBlockItemCount
            .sidebarBlockItemCountView
                +svgIcon('icon-view')
                | 546
            .sidebarBlockItemCountComments
                +svgIcon('icon-comment')
                | 7
.sidebarBlock
        img(src="img/ads01.jpg", alt="")
    .sidebarBlock
        img(src="img/ads02.jpg", alt="")
    .sidebarBlock
        .sidebarBlockHeader
            | Примой эфир
        +sidebarBlockItem()
        +sidebarBlockItem()
        +sidebarBlockItem()
    .sidebarBlock
        img(src="img/ads01.jpg", alt="")