.topOnSite
    .topOnSiteHeader
        h2 Популярное на сайте
    .topOnSiteItems
        .topOnSiteItem
            .topOnSiteItemLeft
                .topOnSiteItemWrap
                    .topOnSiteItemIcon
                        +svgIcon('icon-post')
                    .topOnSiteItemText
                        .topOnSiteItemName
                            a(href="#") Популярные темы
                        .topOnSiteItemSubforum
                            a(href="#") Беременность и роды
                            .topOnSiteItemSubforumDot
                            a(href="#") Любовь и секс 
                            .topOnSiteItemSubforumDot
                            a(href="#") Эндокринология

            .topOnSiteItemMiddle
                .topOnSiteItemSubject
                    | Тем 30,456
                .topOnSiteItemMessage
                    | Сообщений 578,987
            .topOnSiteItemRight
                .topOnSiteItemLastSubject
                    a(href="#") Дорогие родители! Очень прошу поддержать и перепостить по друг..
                .topOnSiteItemLastTime
                    b Марина
                    |  пишет сегодня, 09:11

        .topOnSiteItem
            .topOnSiteItemLeft
                .topOnSiteItemWrap
                    .topOnSiteItemIcon
                        +svgIcon('icon-calendar')
                    .topOnSiteItemText
                        .topOnSiteItemName
                            a(href="#") Популярные темы
                        .topOnSiteItemSubforum
                            a(href="#") Беременность и роды
                            .topOnSiteItemSubforumDot
                            a(href="#") Любовь и секс 
                            .topOnSiteItemSubforumDot
                            a(href="#") Эндокринология

            .topOnSiteItemMiddle
                .topOnSiteItemSubject
                    | Тем 30,456
                .topOnSiteItemMessage
                    | Сообщений 578,987
            .topOnSiteItemRight
                .topOnSiteItemLastSubject
                    a(href="#") Дорогие родители! Очень прошу поддержать и перепостить по друг..
                .topOnSiteItemLastTime
                    b Марина
                    |  пишет сегодня, 09:11

        .topOnSiteItem
            .topOnSiteItemLeft
                .topOnSiteItemWrap
                    .topOnSiteItemIcon
                        +svgIcon('icon-service')
                    .topOnSiteItemText
                        .topOnSiteItemName
                            a(href="#") Популярные темы
                        .topOnSiteItemSubforum
                            a(href="#") Беременность и роды
                            .topOnSiteItemSubforumDot
                            a(href="#") Любовь и секс 
                            .topOnSiteItemSubforumDot
                            a(href="#") Эндокринология

            .topOnSiteItemMiddle
                .topOnSiteItemSubject
                    | Тем 30,456
                .topOnSiteItemMessage
                    | Сообщений 578,987
            .topOnSiteItemRight
                .topOnSiteItemLastSubject
                    a(href="#") Дорогие родители! Очень прошу поддержать и перепостить по друг..
                .topOnSiteItemLastTime
                    b Марина
                    |  пишет сегодня, 09:11