.header
    display block
    width 100%
    background-color darkblues
    sf()
    @media web
        padding 0 30px
.headerLeft
    display none
    @media web
        display block
        col(1/2)
.headerMenu
    display inline-block
    padding 15px 0px
.headerMenuItem
    display inline-block
    margin-right 15px
    a
        ff(normal,1.3,1.8)
        color #fff
        text-decoration none
    svg
        margin-left 5px
        size(6)
        fill #fff
.headerRight
    col(1/1)
    text-align center
    padding 15px 0px 15px
    @media web
        col(1/2)
        text-align right
        padding 15px 0px 15px
.headerNoLogin
    display inline-block
    a
        display inline-block
        ff(normal,1.3,1.8)
        text-decoration none
        color #fff
        padding-top 5px
        svg

            margin-top -5px
            display inline-block
            vertical-align middle
            size(23,30)
            margin-right 10px
            fill #fff
        @media web
            padding-top 0px
            ff(normal,1.3,1.8)
            svg
                margin 0
                display none

.headerLogin
    display none
    sf()
.headerLoginName
    display inline-block
    ff(normal,1.3,1.8)
    color #fff
    margin-right 10px
    a
        color lightreds

.headerLoginCount
    display inline-block
    background-color reds
    color #fff
    ff(normal,1.2,1.2)
    padding 3px 5px
    margin-right 10px
    border-radius 7px
.headerLoginOut
    display inline-block
    a
        ff(normal,1.3,1.8)
        color #fff
        text-decoration none