.forumCategoryItem
    display block
    padding 0px 10px
    @media web
        padding 0px 0px
        border-bottom 1px solid #cdd7dc
        height 100%
        sf()
        &:first-child
            border-top 1px solid #cdd7dc
.forumCategoryItemLeft
    col(1/1)
    padding 10px 0px
    @media web
        col(5/7)
.forumCategoryItemIcon
    display none
    @media web
        display table-cell
        vertical-align middle
        padding-right 20px
        svg
            size(30,39)
            fill #cdd7dc
.forumCategoryItemText
    display table-cell
    width 100%
.forumCategoryItemName
    display block
    padding-bottom 5px
    ff(normal,1.8, 2.2)
    color reds
    sf()
    a
        text-decoration none
        color reds
        transition color .5s
        &:hover
            color darken(reds,30%)
    @media web
        ff(normal,2,2.4)
.forumCategoryItemSubforum
    display block
    vertical-align middle
    padding-bottom 5px
    a
        color blues
        vertical-align middle
        ff(normal,1.3,1.6)
        text-decoration none
        color links
        margin-right 7px
        transition color .5s
        &:hover
            color lighten(linksHover,30%)
.forumCategoryItemSubforumDot
    display inline-block
    background-color reds
    border-radius 50%
    size(5)
    margin-right 7px
.forumCategoryItemRigth
    display none
    @media web
        display block
        col(2/7)
        height 91px
        background-color #f7f7f7
        padding 25px 0px 30px 20px
.forumCategoryItemMobileCount
    display block
    @media web
        display none
.forumCategoryItemSubject
    display inline-block
    ff(normal,1.2,1.4)
    color violets
    margin-bottom 10px
    margin-right 5px
    &:after
        display inline-block
        ff(normal,1.2,1.4)
        content '|'
        padding-left 5px
    @media web
        display block
        &:after
            display none
.forumCategoryItemMessage
    display inline-block
    color violets
    ff(normal,1.2,1.4)
    @media web
        display block