.fastchoise
    display block
    position relative
    background-color #fff
    border 1px solid #d1dadf
    border-radius 4px
    ff(normal,1.2,1.2)
    color violets
    padding 9px
    sf()
    @media web
        ff(medium,1.4,1.4)
.fastchoiseButton
    display block
    cursor pointer
    position absolute
    top 0
    right 0
    width 30px
    height 100%
    text-align center
    border-radius 0px 4px 4px 0px
    background-color #4d95cf
    svg
        margin-top 7px
        size(18)
        fill #fff