.footer
    display block
    background-color blues
    height 50px
    margin-top -10px
    width 100%
    sf()
    @media web
        margin-top 0
        height 100px
.footerWrap
    center(900px)

.footerLeft
    display none
    @media web
        display block
        padding-top 40px
        col(1/2)
        p
            display inline-block
            color #fff
            ff(normal,1.4,1.8)
            &:after
                content '|'
                margin 0 10px
                text-decoration none
        a
            olor #fff
            ff(normal,1.4,1.8)
            color #fff

.footerRight
    col(1/1)
    text-align center
    @media web
        col(1/2)
        text-align center
.footerRightItems
    display inline-block
    @media web
        padding-top 35px
.socialItem
    display inline-block
    position relative
    margin-right 10px
    svg
        z-index 2
        position relative
        size(25)
        fill #5D95C1
    &:after
        display block
        position absolute
        top 5px
        left 5px
        z-index 1
        content ' '
        background-color #fff
        size(15)

.counter
    display none
    size(70,30)
    img
        width 100%
    @media web
        display inline-block