.mobileSlideOnline
    display block
    background-color #fff
    padding-bottom 30px
    sf()
    @media web
        display none

.mobileSlideOnlineItems
    display block
    height 160px
    background-color #eef2f3
    sf()

.mobileSlideOnlineHeader
    display block
    padding 0 0px 0 10px
    margin-bottom 10px
    sf()
    h2
        color reds
        ff(normal,1.8,2.6)

.mobileSlideOnlineItem
    display block
    padding 20px 10px

.mobileSlideOnlineItemName
    ff(normal,1.3,1.6)
    color violets
    margin-bottom 5px
    a
        display inline-block
        margin-top -3px
        color blues
        vertical-align middle
        text-decoration none
        color links
        margin-right 7px
        transition color .5s
        &:hover
            color lighten(linksHover,30%)

.mobileSlideOnlineItemSubject
    a
        ff(normal,2.4)
        display inline-block
        position relative
        text-decoration none
        color links
        transition color .5s
        margin-bottom 5px
        &:hover
            color linksHover
        &:after
            display block
            position absolute
            width 100%

            height 1px
            bottom 4px
            left 0
            content ' '
            background-color rgba(246,190,170,1)
    p
        color violets
        ff(normal,1.2,1.5)